/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    behaviors {
        Virg_Inter: Virg_Inter {
            compatible = "zmk,behavior-mod-morph";
            label = "VIRG_INTER";
            bindings = <&kp COMMA>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        Point_Excl: Point_Excl {
            compatible = "zmk,behavior-mod-morph";
            label = "POINT_EXCL";
            bindings = <&kp PERIOD>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        Colon_Scl: Colon_Scl {
            compatible = "zmk,behavior-mod-morph";
            label = "COLON_SCL";
            bindings = <&kp COLON>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        ApoGui: ApoGui {
            compatible = "zmk,behavior-mod-morph";
            label = "APOGUI";
            bindings = <&ApoSpc>, <&GuiSpc>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    macros {
        qu: qu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Q &kp U>;
            label = "QU";
        };

        Mqu: Mqu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(Q) &kp U>;
            label = "MQU";
        };

        ApoSpc: Apo_Gui {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp APOS &kp SPACE>;
            label = "APO_GUI";
        };

        GuiSpc: GuiSpc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp SPACE>;
            label = "GUISPC";
        };

        oe: oe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_5 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "OE";
        };

        eTrem: eTrem {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(APOSTROPHE) &kp E>;
            label = "ETREM";
        };

        iTrem: iTrem {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(APOSTROPHE) &kp I>;
            label = "ITREM";
        };

        iCir: iCir {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET &kp I>;
            label = "ICIR";
        };

        aCir: aCir {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET &kp A>;
            label = "ACIR";
        };

        oCir: oCir {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET &kp O>;
            label = "OCIR";
        };

        eCir: eCir {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET &kp E>;
            label = "ECIR";
        };

        uCir: uCir {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET &kp U>;
            label = "UCIR";
        };

        aGrv: aGrv {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp A>;
            label = "AGRV";
        };

        eGrv: eGrv {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp E>;
            label = "EGRV";
        };

        uGrv: uGrv {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp U>;
            label = "UGRV";
        };

        FlowLauncher: FlowLauncher {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LALT>;

            label = "FLOWLAUNCHER";
        };

        alt_tab: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LALT>;

            label = "NEW_MACRO";
        };

        ScreenShot: ScreenShot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_GUI>,
                <&macro_tap>,
                <&kp S>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_GUI>;

            label = "SCREENSHOT";
        };

        Double_Par: Double_Par {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT>;

            label = "Double_Par";
        };

        Double_Cro: Double_Cro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT>;

            label = "Double_Cro";
        };

        Double_Acc: Double_Acc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT>;

            label = "Double_Acc";
        };

        CtrlMajTab: CtrlMajTab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LS(LCTRL)>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LS(LCTRL)>;

            label = "CTRLMAJTAB";
        };

        BH_CTm: BH_CTm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &kp T>;
            label = "BH_CTM";
        };

        BH_BRm: BH_BRm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp R>;
            label = "BH_BRM";
        };

        Shutdown: Shutdown {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp F4>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp ENTER>;

            label = "SHUTDOWN";
        };

        DoubleInt: DoubleInt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LS(RA(QUESTION)) &kp QUESTION &kp LEFT>;

            label = "DOUBLEINT";
        };

        DoubleExc: DoubleExc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LS(RA(N1)) &kp EXCL &kp LEFT>;

            label = "DOUBLEEXC";
        };

        Environ: Environ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_2 &kp KP_NUMBER_4 &kp KP_NUMBER_7>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "ENVIRON";
        };

        Fois: Fois {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_2 &kp KP_NUMBER_1 &kp KP_NUMBER_5>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "FOIS";
        };

        Tir_Point: Tir_Point {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_4 &kp KP_NUMBER_9>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "TIR_POINT";
        };

        Degree: Degree {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_7 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "DEGREE";
        };

        FlecheDr: FlecheDr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_2 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "FLECHEDR";
        };

        PasEgale: PasEgale {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_8 &kp KP_NUMBER_8 &kp KP_NUMBER_0 &kp KP_NUMBER_0>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "PASEGALE";
        };
    };

    combos {
        compatible = "zmk,combos";

        GamingToggle {
            bindings = <&tog 4>;
            key-positions = <36 37 38>;
            layers = <0 2 1 3 4 5>;
        };

        Power {
            bindings = <&Shutdown>;
            key-positions = <36 37 38 39 40 41>;
            layers = <1 0 3 4 2 5>;
        };

        ScreenShot {
            bindings = <&ScreenShot>;
            key-positions = <38 39>;
            layers = <1 0 3 2 4 5>;
        };

        BH_CT {
            bindings = <&BH_CTm>;
            key-positions = <4 15>;
            layers = <0 1 3 2>;
        };

        BH_BR {
            bindings = <&BH_BRm>;
            key-positions = <1 14>;
            layers = <1 0 2 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Layer0_Base {
            display-name = "0_Rosellae";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE  &kp B  &kp L  &kp D  &kp C  &kp V  &kp Z  &ApoGui  &kp O  &kp U  &kp X  &kp BSPC  &kp TAB  &kp N  &kp R  &kp T  &kp S  &kp F  &kp Y  &kp H  &kp E  &kp I  &kp A  &kp ENTER  &kp LEFT_WIN  &qu  &kp J  &kp M  &kp G  &kp W  &kp K  &kp P  &Virg_Inter  &Point_Excl  &Colon_Scl  &kp LC(LSHIFT)  &sl 1  &kp LEFT_SHIFT  &kp LCTRL  &sl 2  &lt 3 SPACE  &kp LEFT_ALT
            >;
        };

        Layer1_Accents {
            display-name = "1_Rosellae";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|     |     |     |     |     |      |
            //                    | GUI |     | SPC   | ENT |     | ALT |

            bindings = <
&trans  &kp LC(Z)  &kp LC(Y)  &kp RA(P)  &kp RA(Y)  &none  &kp RA(U)  &iCir  &eCir  &uGrv  &uCir  &kp DELETE  &alt_tab  &kp RA(Z)  &kp RA(N)  &oe  &eTrem  &kp RA(Q)  &kp RA(O)  &kp RA(COMMA)  &aGrv  &eGrv  &kp RA(E)  &trans  &CtrlMajTab  &kp Q  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(A)  &kp RA(I)  &aCir  &oCir  &iTrem  &kp RA(A)  &trans  &trans  &trans  &trans  &trans  &trans  &FlowLauncher
            >;
        };

        Layer2_Symbol {
            display-name = "2_Rosellae";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL | HUD | HUI |     |     |     |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC | ENT |     | ALT |

            bindings = <
&trans  &kp RA(N5)  &kp DOLLAR  &Double_Cro  &kp CARET  &kp TILDE  &Tir_Point  &kp LESS_THAN  &kp GREATER_THAN  &kp HASH  &kp NON_US_BACKSLASH  &kp DELETE  &trans  &kp PLUS  &kp EQUAL  &Double_Par  &kp ASTERISK  &FlecheDr  &Degree  &kp UNDERSCORE  &kp MINUS  &kp AT_SIGN  &kp SLASH  &trans  &trans  &Mqu  &Fois  &Double_Acc  &kp GRAVE  &none  &none  &kp PERCENT  &DoubleInt  &DoubleExc  &kp PIPE  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Layer3_Nav {
            display-name = "3_Rosellae";
            bindings = <
&trans  &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT  &kp END  &none  &none  &kp HOME  &kp F2  &kp F4  &kp F11  &kp DELETE  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &kp PAGE_DOWN  &kp PAGE_UP  &kp COMMA  &kp N4  &kp N5  &kp N6  &trans  &trans  &kp N1  &kp N2  &kp N3  &kp N0  &kp PERCENT  &kp EQUAL  &kp N7  &kp N8  &kp N9  &kp PERIOD  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Layer4_Gaming {
            display-name = "4_Rosellae";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp R  &kp UP_ARROW  &kp SPACE  &kp SPACE  &kp UP_ARROW  &kp R
            >;
        };

        Layer5_Arabic {
            display-name = "5_Rosellae";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
